.f-pr{position: relative;}
.f-pa{position: absolute;}
.f-fl{float: left;}
.f-fr{float: right;}
.f-cb{zoom:1;}
.f-cb:after{content: '.';display: block;clear: both;height: 0;overflow: hidden;visibility: hidden;}
.f-thide{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}


*{ margin: 0; padding: 0; text-decoration: none;}
/*page-top*/
.page-top{width: 1343px;height: 391px;margin: 0 auto;}
/*首页左侧=-=轮播图*/
/*body { padding: 20px;}*/
#container { width: 942px; height: 391px; overflow: hidden; position: relative;float: left;margin: 0px 1px 0px 0px;}
#list { width: 6587px; height: 391px; position: absolute; z-index: 1;}
#list img { float: left; width: 942px; height: 391px}
#buttons { position: absolute; height: 10px; width: 100px; z-index: 2; bottom: 20px; left: 440px;}
#buttons span { cursor: pointer; float: left; border: 1px solid #fff; width: 10px; height: 10px; border-radius: 50%; background: #333; margin-right: 5px;}
#buttons .on {  background: orangered;}
.arrow { cursor: pointer; display: none; line-height: 39px; text-align: center; font-size: 36px; font-weight: bold; width: 40px; height: 40px;  position: absolute; z-index: 2; top: 170px; background-color: RGBA(0,0,0,.3); color: #fff;}
.arrow:hover { background-color: RGBA(0,0,0,.7);}
#container:hover .arrow { display: block;}
#prev { left: 6px;}
#next { right: 6px;}

/*首页右侧=-=模块*/
.page-top .module{overflow: hidden;width: 400;height: 391px;}
.page-top .module .column{width: 195px;float: left;height:195px;position: relative;overflow: hidden;}
.page-top .module .rows .colTxt{background: #dde3e5;}
.page-top .module .rows .colTxt a{color: #30373B;}
.page-top .module .column.line{border-right:1px solid #fff;}
.page-top .module .column table{width: 90%;margin-left: 5%;display: block;text-align: center;}
.page-top .module .column table td{height: 195px;}
.page-top .module .column table a{font-size: 16px;color: #576b7c;line-height: 30px;font-weight: bold;display: block;padding: 0 24px;}
.page-top .module .rowOne .colTxt{background: #2b2d2e;}
.page-top .module .rowOne .colTxt a{color: #fff;}
.page-top .module .rowOne .column{border-bottom:1px solid #fff;}
.page-top .module .picTxt a{display: block;position: relative;}
.page-top .module .picTxt a .pic img{display: block;opacity: 0.8;filter:alpha(opacity=80);transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;}
.page-top .module .picTxt:hover .pic img{opacity: 1;filter:alpha(opacity=100);transform: scale(1.1);-webkit-transform: scale(1.1);-moz-transform: scale(1.1);}
.page-top .module .picTxt a .txt{position: absolute;width:147px;left: 24px;bottom:5px;text-align: center;font-size: 14px;color: #fff;line-height: 22px;font-weight: bold;z-index: 2;}
.page-top .module .picTxt a .cover{position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: rgba(20,27,32,0.2);}


/* 导航 */
.topbar{width:100%;background:rgba(12,13,14,0.86);height:34px;line-height:1;font-size:13px}
.topbar input[type="text"]{transition:none;border:1px solid #cbcbcb;font-size:100%;font-family:Arial,"Helvetica Neue",Helvetica,sans-serif !important;border-radius:0;padding:3px;margin:5px 0 5px 0}
.topbar .topbar-wrapper{width:1080px;margin:0 auto;height:34px;text-align:left;position:relative}

.topbar .network-items a{color:#e4e6e8;text-decoration:none;display:inline-block;height:24px;padding:10px 7px 0 7px;vertical-align:top;font-size:15px;font-weight: bold;}
.topbar .network-items a:hover span{color: blue;}
.topbar .topbar-links{vertical-align:top;position:absolute;right:0;top:0;font-size:13px;font-family:Arial,"Helvetica Neue",Helvetica,sans-serif !important}

.topbar .topbar-links .topbar-menu-links{margin-left:15px;margin-top:-10px;display:inline-block;vertical-align:top;font-size:0}
.topbar .topbar-links .topbar-menu-links a,.topbar .topbar-links .topbar-menu-links a:visited{color:#e4e6e8;text-decoration:none;display:inline-block;height:24px;padding:10px 7px 0 7px;vertical-align:top;font-size:13px}
.topbar .topbar-links .topbar-menu-links a:hover{background-color:#3b4045}
.topbar .topbar-links .links-container{display:inline-block;vertical-align:top;padding-top:10px}

.topbar .topbar-links .search-container{display:inline-block;vertical-align:top;margin-top:1px}
.topbar .topbar-links .search-container input[type=text]{margin:3px 0 0 20px;width:194px;height:21px;padding-left:inherit;padding-top:2px !important;padding-bottom:2px !important;padding-right:5px;font-size:13px;line-height:1.5;font-family:Arial,"Helvetica Neue",Helvetica,sans-serif !important;color:#6a737c;background-image:url('../../img/share-sprite-new.png?v=e1b8bd67bc12');background-image:url('../../img/share-sprite-new.svg?v=78be252218f3'),none;background-repeat:no-repeat;background-color:#FFF;background-position:-267px -90px !important;padding-left:24px !important;border:1px solid #0C0D0E;background-color:#eff0f1;box-shadow:inset 0 1px 2px #eff0f1,0 0 0 #FFF;transition:all .15s ease-in-out}
.topbar .topbar-links .search-container input[type=text]:hover{background-color:#fafafb;border-color:rgba(0,149,255,0.5);box-shadow:inset 0 1px 2px #e4e6e8,0 0 2px rgba(0,119,204,0.1)}
.topbar .topbar-links .search-container input[type=text]:focus{outline:0;color:#3b4045;background-color:#FFF;border-color:#0095ff;box-shadow:inset 0 2px 2px #fafafb,0 0 5px rgba(0,119,204,0.5)}


/*body=-=info*/
.wrapper{width: 1200px; margin: 40px auto;}
/*info左侧*/
.index-left{width: 810px;position: relative;float: left;margin: 0px;}

.index-selRead{margin-top: 0px;}
.index-selRead .title{font-size: 16px;padding-bottom: 15px;color: #31424e;font-weight: bold;}
.index-selRead .list li{float: left;padding: 15px;width: 240px;height: 205px;position: relative;left: -15px;top: -15px;
	-webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.index-selRead .list ul{width: 810px;left: -15px;right: -15px;}
.index-selRead .list li:hover{
	background: #f7f7f7;
	-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.1);
    box-shadow: 0 0 30px rgba(0,0,0,0.15);
    -webkit-transform: translate3d(0, 1px, -2px);
    transform: translate3d(0, 1px, -2px);
}
.index-selRead .list li .pic img{width: 240px;height: 145px;vertical-align: top;}
.index-selRead .list li .txt{padding: 15px 5px 0 5px;line-height: 22px;height: 44px;overflow: hidden;}
.index-selRead .list li .txt a{font-size: 14px;color: #31424e;}
.index-selRead .list li .box{position: absolute;left:15px;top: 15px;width: 240px;}
.index-selRead .list li:hover .txt a{color: #ee5b2e;}


/*Index右侧*/
.index-right{overflow: hidden;padding-left:38px;width: 312px;}
.index-right .rComTitle,
.serKesy-list .rComTitle,
.article-right .rComTitle{padding-top: 28px;font-size: 16px;font-weight: bold;color: #31424e;line-height: 1;padding-bottom: 12px;}
.index-right .rComTitle .more,
.serKesy-list .rComTitle .more,
.article-right .rComTitle .more{float: right;font-size: 12px;color: #738693;font-weight: normal;}
.index-right .rComTitle .more em,
.serKesy-list .rComTitle .more em,
.article-right .rComTitle .more em{display: inline-block;vertical-align: 0;margin-left: 7px;background: url(../../images/common/yp_spirit.png) no-repeat -194px -46px;width: 10px;height: 10px;}
.index-right .rComTitle .more:hover,
.serKesy-list .rComTitle .more:hover,
.article-right .rComTitle .more:hover{color: #3E4950}
.serKesy-list .rComTitle{margin-bottom: 15px;}




/*即将上映*/
.express .list{padding: 25px 25px 0 25px;border:1px solid #E6E6E6;background: #fff;}
.express .list li{padding-bottom: 25px;overflow: hidden;}
.express .list li .pic{overflow: hidden;padding-left: 20px;}
.express .list li .pic img{vertical-align: top;}
.express .list li .txt{width: 130px;float: left;font-size: 14px;color: #31424e;line-height: 22px;word-break: break-word;}
.express .list li:hover a{color: #ee5b2e;}
/*热门作者*/
.hot-author .list{border:1px solid #e6e6e6;padding: 0 25px;background: #fff;}
.hot-author .list li{padding: 25px 0;overflow: hidden;border-bottom:1px dotted #E6E6E6;}
.hot-author .list li .avater{float: left;width:70px;}
.hot-author .list li .avater img{vertical-align: top;border-radius: 50%;-webkit-border-radius: 50%;}
.hot-author .list li .txt{overflow: hidden;padding-left: 15px;}
.hot-author .list li .txt .name{font-size: 15px;color: #ee5b2e;}
.hot-author .list li .txt .name .gold{display: inline-block;vertical-align: -5px;margin-left: 8px;background: url(../../images/common/yp_spirit.png) no-repeat -235px -45px;width: 21px;height: 25px;}
.hot-author .list li .txt .intro{font-size: 14px;color: #5e6b73;line-height: 20px;padding-top: 5px;}
.hot-author .list li:last-child{border-bottom:0;}








/*底部*/
.g-ft{height: 262px;min-width: 1202px;background-color: #2c3339;}
.m-ftwrap{width: 948px;height: 262px;margin: 0 auto;}
.m-ftwrap .ftleft{padding-top: 95px;}
.m-ftwrap .title{padding-bottom: 30px;}
.m-ftwrap .title .u-title-en{font: normal bold 28px/20px 'Gill Sans MT';color: #39a030;}
.m-ftwrap .title span{display: inline-block;width: 23px;height: 20px;background: url(../img/ui-sprite.png) 0 -47px no-repeat;}
.m-ftwrap .title .u-title-ch{font: normal bold 22px/20px 'Hiragino Sans GB';color: #39a030;}
.m-ftwrap .cprt{font: 12.5px/25px '微软雅黑';color: #fff;}
.m-ftwrap .ftright{padding-top: 82px;}
.m-ftwrap .ftright p{font: 12.5px/29.17px '微软雅黑';color: #fff;}
.m-ftwrap .ftright a{font: 14.58px/29.17px '微软雅黑';color: #fff;}
.m-ftwrap .ftright a:hover{text-decoration: underline;}
.m-ftwrap .link{margin-right: 98px;}
.m-ftwrap .about{margin-right: 73px;}
.m-ftwrap .atweibo{display: inline-block;width: 20px;height: 16px;margin-left: 11px;vertical-align: middle;background: url(../img/ui-sprite.png) 0 -75px no-repeat;}




.index-right .right-ads,
.index-right .right-item-sw{margin-top: 71px;}














.lph-left{width: 780px; float: left;}



.lph-pageList .title .upd-num{font-size: 14px;color: #5e6b73;line-height: 25px;font-weight: normal;}
.lph-pageList .title .upd-num span{color: #ee5b2e;}
.lph-pageList .title .upd-num  em{display: inline-block;margin-right: 8px;vertical-align: -5px;background: url(../../images/common/yp_spirit.png) no-repeat -15px -391px;width: 21px;height: 23px;}

.lph-pageList{padding-top: 10px;}
.lph-pageList .title{font-size: 22px;color: #31424e;line-height: 1;;font-weight: bold;/*margin-bottom: 25px;*/margin-bottom: 2px;}
.lph-pageList .list ul{width: 830px;left: -25px;right: -25px;}
.lph-pageList .list li{float: left;padding: 25px 25px 0 25px;width: 780px;position: relative;left: -25px;top: -25px;
	-webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.lph-pageList .list li .box{position: relative;left:0;top: 0;width: 780px;padding-bottom: 25px;overflow: hidden;border-bottom:1px solid #E6E6E6;}
.lph-pageList .list li:hover{
	background: #f7f7f7;
	-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.1);
    box-shadow: 0 0 30px rgba(0,0,0,0.15);
    -webkit-transform: translate3d(0, 0px, -2px);
    transform: translate3d(0, 1px, -2px);
}
.lph-pageList .list li .img{width: 240px;height: 145px;vertical-align: top;float: left;position: relative;}
.lph-pageList .list li .sort{height: 25px;line-height: 25px;padding: 0 10px;background: rgba(0,0,0,0.7);font-size: 12px;color: #fff;position: absolute;top: 0;left: 0;}
.lph-pageList .list li .img img{width: 240px;height: 145px;vertical-align: top;}
.lph-pageList .list li .word{padding-left: 22px;overflow: hidden;}
.lph-pageList .list li .headTit{display: block;font-size: 18px;color: #31424e;font-weight: bold;text-align: left;}
.lph-pageList .list li .word .des{font-size: 14px;text-align: left;color: #5e6b73;line-height: 22px;padding:15px 0;text-align: left;}
.lph-pageList .list li .msg {font-size: 14px;color: #9baab6;line-height: 25px;}
.lph-pageList .list li .msg a{font-size: 12px;color: #9baab6;}
.lph-pageList .list li .msg .aut{float: left;line-height: 25px;}
.lph-pageList .list li .msg .aut img{width: 25px;vertical-align: middle;margin-right: 8px;height: 25px;border-radius: 50%;-webkit-border-radius: 50%;}
.lph-pageList .list li .msg .time{float: left;margin-left: 25px;}
.lph-pageList .list li .msg .tags{float: right;}
.lph-pageList .list li .msg .tags a{display: inline-block;padding-left: 8px;}
.lph-pageList .list li .msg .tags em{display: inline-block;vertical-align: middle;background: url(../../images/common/yp_spirit.png) no-repeat -215px -46px;width: 14px;height: 14px;}


.lph-pageList .list li .imgs a{float: left;width: 240px;margin-left: 30px;}
.lph-pageList .list li .imgs a img{width: 240px;height: 145px;vertical-align: top;}
.lph-pageList .list li .imgs a.first{margin-left: 0;} 
.lph-pageList .list li .txt .rows{padding: 18px 0;}
.lph-pageList .list li .txt .rows .sort{position: relative;float: left;padding: 0 10px;height: 25px;line-height: 25px;color: #fff;font-size: 14px;margin-right: 12px;}

.lph-pageList .list li:hover .headTit{color: #ee5b2e;}

.lph-pageList .list li .sort.yj{background: #b145b8;}
.lph-pageList .list li .sort.xx{background: #44c256;}
.lph-pageList .list li .sort.tx{background: #d05c5c;}
.lph-pageList .list li .sort.zl{background: #5097df;}
.lph-pageList .list li .sort.gj{background: #3d35d8;}
.lph-pageList .list li .sort.qt{background: #303842;}
.lph-pageList .list li .sort.tg{background: #ea8b3d;}
.lph-pageList .list li .sort.znyj{background: #376ce4;}
.lph-pageList .list li .sort.wlaq{background: #43ad32;}
.lph-pageList .list li .sort.znjs{background: #34415d;}
.lph-pageList .list li .sort.ar{background: #6e2fd8;}
.lph-pageList .list li .sort.jqr{background: #dda23c;}
.lph-pageList .list li .sort.jrkj{background: #ee5757;}
.lph-pageList .list li .sort.rgzn{background: #29bbc0;}

/*注释*/
.lph-pageList .list{padding-top: 25px;text-align: center;}
.lph-pageList .list .loadMore a{display: inline-block;background: #f07859;color: #fff;font-size: 14px;width: 220px;height: 46px;text-align: center;line-height: 46px;border-radius: 23px;-webkit-border-radius: 23px;}
.lph-pageList .list .loadMore a em{display: inline-block;vertical-align: middle;background: url(../../images/common/yp_spirit.png) no-repeat -265px -45px;width: 10px;height: 6px;margin-left: 10px;}
.lph-pageList .list .loadMore a:hover{opacity: 0.8;filter:alpha(opacity=80);}




/*注释*/
